.viewingWindow {
  display: flex;
}

.viewingInput {
  width: 150px;
}

.operationIndicator {
  opacity: 0.2;
}

.operationIndicator.active {
  opacity: 1;
}

.buttons {
  display: flex;
}

.numberButtons {
  display: grid;
  grid-template-columns: 50px 50px 50px;
  grid-template-rows: 50px 50px 50px 50px;
}

.wideButton {
  grid-column: 1 / 4;
}

.operationButtons {
  display: grid;
  grid-template-columns: 50px;
}